<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ratePlanCharge">
      <h2 data-cy="ratePlanChargeDetailsHeading"><span>Rate Plan Charge</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ ratePlanCharge.id }}</span>
        </dd>
        <dt><span>Step</span></dt>
        <dd>
          <span>{{ ratePlanCharge.step }}</span>
        </dd>
        <dt><span>Unit Price</span></dt>
        <dd>
          <span>{{ ratePlanCharge.unitPrice }}</span>
        </dd>
        <dt><span>Discount</span></dt>
        <dd>
          <span>{{ ratePlanCharge.discount }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/rate-plan-charge-billing', ratePlanCharge.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
